body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
	background-image: url(../img/logo_norauto.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

.erow{
	background-color:#fff;
}

ul,ol{
	padding:0;
	margin:0 0 10px 25px;
}

#login-user{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

#main{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.login-box ul, #menu ul{
	list-style-type: none;
}

#menu ul li, #submenu ul li{
	float:left;
	margin-right:20px;
}

#menu ul li a{
	color:#fff;
}

#login-user ul li{
	margin-bottom:10px;
}

.login-box{
	position:relative;
	margin:auto;
	width:300px;
	height:305px;
	background-color:#fff;
	top:30%;
	padding:20px;
	border-radius:10px;
	box-shadow: 10px 10px 5px #888;
	border:3px solid #fff;
	color:#ffff00;
	background-color:#050087;
	cursor:pointer;
}

.login-box label{
	display:block;
	height:30px;
}

.msg{
	color:#fff;
}

.input{
	width:212px;
}

.norauto{
	font-weight:bold;
	color:#ffff00;
}

#msg-import{
	position:relative;
	padding:20px;
	border-radius:5px;
	margin:auto;
	width:400px;
	margin-top:100px;
	height:auto;
	background-color:#f0f0f0;
	box-shadow: 10px 10px 5px #888;
}

.info-title{
	width:100%;
	cursor:pointer;
	background-color:#888;
	border-radius:2px;
	color:#fff;
	text-align:center;
	padding:2px;
	padding-top:12px;
	font-size:25px;
	height:30px;
}

#error{
	position:relative;
	background-color:#fff;
	width:360px;
	height:auto;
	padding:20px;
	margin:auto;
	margin-top:20%;
	box-shadow: 10px 10px 5px #888;
	border:3px solid red;
	border-radius:5px;
}

.crud-form{
	margin-top:20px;
}

#message-box{
	margin-bottom:0;
}

#menu{
	position:fixed;
	top:0;
	background-color:#050087;
	color:#fff;
	width:100%;
	left:0;
	padding:3px;
	text-align:center;
	border-bottom:3px solid #ffff00;
	z-index:10;
}

#submenu{
	position:fixed;
	background-color:#050087;
	color:#fff;
	width:100%;
	left:0;
	padding:3px;
	text-align:left;
	border-bottom:3px solid #050087;
	z-index:10;
	top:29px;
	background-color:#fff;
	height:20px;
	box-shadow: 10px 10px 5px #888;
}

.admin-link{
	background-color:#ffff00;
	color:#050087;
	border-radius:2px;
	box-shadow:3px 3px 5px #888;
	padding:1px;
}

#menu ul .admin-link .admin-anchor{
	color:#050087;
}

footer{
	position:fixed;
	bottom:0;
	background-color:#050087;
	color:#fff;
	width:100%;
	left:0;
	padding:3px;
	text-align:center;
	border-top:3px solid #ffff00;
}